<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ title or "My Blog" }}</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
</head>
<body>
  <table class="page-frame" width="80%" align="center" border="1" cellpadding="10">
    <tr>
      <td>
        <p style="text-align: left;"> Welcome </p>
        <hr>
        {{ content | safe }}
      </td>
    </tr>
  </table>
</body>
</html>
