.markdown-body .token.comment,
.markdown-body .token.prolog,
.markdown-body .token.doctype,
.markdown-body .token.cdata {
  color: #6a737d;
}

.markdown-body .token.punctuation {
  color: #24292e;
}

.markdown-body .token.property,
.markdown-body .token.tag,
.markdown-body .token.boolean,
.markdown-body .token.number,
.markdown-body .token.constant,
.markdown-body .token.symbol,
.markdown-body .token.deleted {
  color: #d73a49;
}

.markdown-body .token.selector,
.markdown-body .token.attr-name,
.markdown-body .token.string,
.markdown-body .token.char,
.markdown-body .token.builtin,
.markdown-body .token.inserted {
  color: #032f62;
}

.markdown-body .token.operator,
.markdown-body .token.entity,
.markdown-body .token.url,
.markdown-body .token.variable {
  color: #005cc5;
}

.markdown-body .token.atrule,
.markdown-body .token.attr-value,
.markdown-body .token.keyword {
  color: #d73a49;
}

.markdown-body .token.function,
.markdown-body .token.class-name {
  color: #6f42c1;
}

.markdown-body .token.regex,
.markdown-body .token.important {
  color: #e36209;
}

.markdown-body .token.bold {
  font-weight: bold;
}

.markdown-body .token.italic {
  font-style: italic;
}
